@font-face {
  font-family: "almarai-regular";
  src: url(./assets/fonts/Almarai-Regular.ttf);
}

@font-face {
  font-family: "almarai-bold";
  src: url(./assets/fonts/Almarai-Bold.ttf);
}

* {
  font-family: "almarai-regular";
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-family: "almarai-bold";
}

.orange-color {
  color: #b13a01 !important;
}

.underline {
  width: 134px;
  height: 3px;
  background-color: #b13a01;
}

button:hover {
  color: #fff !important;
  background-color: #b13a01 !important;
  border: 1px solid transparent !important;
}

.card-image {
  width: 200px;
  height: 200px;
}